@import "tailwindcss";

:root {
  --netflix-black: #141414;
  --netflix-red: #e50914;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans);
  background-color: var(--netflix-black);
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}